<div layout="column" layout-align="center center">
    <div layout="column" layout-align="center center" class="main-header" layout-margin layout-padding>
        <div layout="row" style="margin: 10px">
            <h1>Vista web development made easy</h1>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <p style="font-size: 24px">
                Everything you need to kickstart Vista web development with Nodejs, Angularjs, EWDjs: the best
                directory structure, an intelligent build system, multiple applications support, and the best web design
                libraries around.
            </p>
            <div flex="5"></div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <md-list layout="row" layout-align="center center">
                <md-item>
                    <md-item-content>
                        <iframe
                                src="http://ghbtns.com/github-btn.html?user=faisalsami78&amp;repo=vista-boilerplate&amp;type=watch&amp;count=true"
                                allowtransparency="true"
                                frameborder="0"
                                scrolling="0"
                                width="110"
                                height="20">
                        </iframe>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <iframe
                                src="http://ghbtns.com/github-btn.html?user=faisalsami78&amp;repo=vista-boilerplate&amp;type=fork&amp;count=true"
                                allowtransparency="true"
                                frameborder="0"
                                scrolling="0"
                                width="95"
                                height="20">
                        </iframe>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                                src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fbit.ly%2Ffaisalsami&counturl=http%3A%2F%2Fngbp.github.com%2Fngbp&text=Check%20out%20%23faisalsami78%20-%20an%20awesome%20kickstarter%20for%20web%20projects%20%7C&hashtags=angularjs&via=faisalsami&related=faisalsami"
                                style="width:130px; height:20px;">
                        </iframe>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-item-content>
                        <div plus-one></div>
                    </md-item-content>
                </md-item>
            </md-list>
            <div flex="5"></div>
        </div>
        <md-button class="md-primary md-raised btn-download" layout="row" layout-align="space-between center">
            <md-icon md-svg-src="assets/images/download.svg" style="width: 24px; height: 21px;"></md-icon>
            <span>Download</span>
        </md-button>
    </div>
    <div layout="column" layout-align="center center" layout-margin layout-padding>
        <div layout="row" layout-sm="column" layout-padding>
            <div flex>
                <h2>Good to Go</h2>
                <p>Kickstarts your project quickly, with everything you need, so you can focus on what matters: your app.</p>
            </div>
            <div flex>
                <h2>Complete Build System</h2>
                <p>A smart, <a href="http://gruntjs.com">Grunt</a>-based build system designed to save you time and energy.</p>
            </div>
            <div flex>
                <h2>Modularization</h2>
                <p>Supports a structure that maintains separation of concerns while ensuring maximum code reuse.</p>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-align="center center" layout-padding>
            <div flex>
                <h2>Multiple Applications</h2>
                <p>Support multiple applications monitoring through grunt in a single project.</p>
            </div>
            <div flex>
                <h2>AngularJS</h2>
                <p>JavaScript framework that augments browser-based, single-page applications with MVC functionality. <a href="http://angularjs.org">More »</a></p>
            </div>
            <div flex>
                <h2>SASS CSS</h2>
                <p>The most mature, stable, and powerful professional grade css extension language in the world. <a href="http://sass-lang.com/">More »</a></p>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-align="center center" layout-padding>
            <div flex>
                <h2>Angular Materials</h2>
                <p>Material Design is a specification for a unified system for visual, motion, and interaction design that adopts across different devices. <a href="https://material.angularjs.org">More »</a></p>
            </div>
            <div flex>
                <h2>Twitter Bootstrap</h2>
                <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development. <a href="http://getbootstrap.com/">More »</a></p>
            </div>
            <div flex>
                <h2>Angular UI Bootstrap</h2>
                <p>Pure AngularJS components for Bootstrap written by the <a href="https://github.com/angular-ui?tab=members">AngularUI Team</a>. <a href="http://angular-ui.github.com/bootstrap">More »</a></p>
            </div>
        </div>
    </div>
</div>